name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10

      - run: bun install --frozen-lockfile

      - run: bun run build

      - run: bun run check-types

      - run: bun run lint:check

      - run: bun run test
